src/main/resources/wsdl/helloworld.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.example.org/helloworld/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="helloworld" targetNamespace="http://www.example.org/helloworld/">
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/helloworld/">
      
      <xsd:element name="person">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="firstName" type="xsd:string"/>
            <xsd:element name="lastName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="greeting">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="greeting" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="SayHelloInput">
    <wsdl:part element="tns:person" name="person"/>
  </wsdl:message>
  
  <wsdl:message name="SayHelloOutput">
    <wsdl:part element="tns:greeting" name="greeting"/>
  </wsdl:message>
  
  <wsdl:portType name="HelloWorld_PortType">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:SayHelloInput"/>
      <wsdl:output message="tns:SayHelloOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="HelloWorld_SoapBinding" type="tns:HelloWorld_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="http://www.example.org/helloworld/sayHello"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="HelloWorld_Service">
  	<wsdl:documentation>Hello World Service</wsdl:documentation>
    <wsdl:port binding="tns:HelloWorld_SoapBinding" name="HelloWorld_Port">
      <soap:address location="http://localhost:9090/example/ws/helloworld"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
